#experiences {
    padding: 96px 24px;
    border-bottom: 1px solid #12192b;

    .grid-layout {
        .experiences-subtext {
            display: flex;
            height: 36px;
            padding: 0px 20px;
            align-items: center;
            gap: 28px;
            border-radius: 24px;
            border: 1px solid #12192b;
            width: 167px;
            img {
                width: 18px;
                height: 18px;
            }

            .experiences-subtitle {
                color: #f7f9fc;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 147.023%; /* 23.524px */
            }
        }

        .title-subtext {
            color: #F7F9FC;
            font-family: Inter;
            font-size: 60px;
            font-style: normal;
            font-weight: 300;
            line-height: normal; 
            padding-bottom: 40px;

            .gradiente {
                background: linear-gradient(90deg, #4271eb 22.36%, #6bbaff 72.18%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        
    }
}
