// Estilo da section home
#home {
    padding: 96px 24px;
    border-bottom: 1px solid #12192b;
    .grid-layout {
        .text-home {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 40px;

            .first-text-home {
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: $gradient-1;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .title-text-home {
                color: $white;
                font-family: Inter;
                font-size: 80px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .sub-text-home {
                color: $gray-5;
                text-align: center;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 32px */
                width: 608px;
            }
        }

        .terminal {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 150px;
            
        }
    }
}

// Responsividade
@include responsive(m) {
    #home {
        padding: 50px 20px;
        .grid-layout {
            .text-home {
                .title-text-home {
                    font-size: 32px;
                }
                .sub-text-home {
                    width: 320.52px;
                }
            }

            .terminal {
                padding-bottom: 0px;
            }
        }
    }
}
