// Estilo da section home
.animation_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


#home {
    padding-bottom: 200px;
    border-bottom: 1px solid #12192b;
    position: relative;
    
    .grid-layout {
        
        .text-home {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 40px;
            min-height: 80vh;
            
            .first-text-home {
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                background: $gradient-1;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .title-text-home {
                color: #fff;
                font-family: Inter;
                font-size: 80px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .sub-text-home {
                color: $gray-5;
                text-align: center;
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 160%; /* 32px */
                width: 608px;
            }

            .mouse {
                border: 2px solid #4271EB;
                border-radius: 20px;
                display: inline-flex;
                height: 40px;
                width: 25px;

                .mouse-wheel {
                    animation: moveWheel 2s ease infinite;
                    background: #4271EB;
                    border-radius: 50%;
                    display: inline-block;
                    height: 10px;
                    margin: auto;
                    width: 2px;
                }

                @keyframes moveWheel {
                    0% {
                        opacity: 0;
                        translate: 0 -16px;
                    }

                    100% {
                        opacity: 1;
                        translate: 0 -4px;
                    }
                }
            }   
     
        }

        
    }
}

// Responsividade
@include responsive(m) {
    #home {
        padding: 50px 20px;
        .grid-layout {
            .text-home {
                .title-text-home {
                    font-size: 32px;
                }
                .sub-text-home {
                    width: 320.52px;
                }
            }

            .terminal {
                padding-bottom: 0px;
            }
        }
    }
}
