// Mixins de responsividade

// Container-devices
$container-xl: 1140px;
$container-l: 960px;
$container-m: 720px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
  @if $device ==xl {
    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  } @else if $device ==l {
    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-l) {
      @content;
    }
  } @else if $device ==m {
    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-m) {
      @content;
    }
  } @else if $device ==s {
    // For resolutions less than 960px
    @media screen and (max-width: $container-s) {
      @content;
    }
  } @else if $device ==xs {
    // For resolutions less than 540px
    @media screen and (max-width: $container-xs) {
      @content;
    }
  }
}

// Container padrão
@mixin grid-layout() {
  max-width: 1140px;
  margin: 0 auto;
}

// Gradiente
@mixin gradiente {
  background: linear-gradient(90deg, #4271eb 22.36%, #6bbaff 72.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// Sub-título
@mixin sub-title {
  color: #f7f9fc;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.023%; /* 23.524px */
}

// Título
@mixin title-section {
  color: #f7f9fc;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 40px;
}

// Texto
@mixin text-section {
  color: #7c7d80;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

// Flex box
.flex-start-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.flex-start-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

// Alinhamentos
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}


.flex-wrap {
  flex-wrap: wrap;
}

// Displays
.desktop {
  display: block;
}

.mobile {
  display: none;
}

.hidden {
  overflow: hidden;
}

// Positions
.relative {
  position: relative;
}